venv/
.venv/
env/
.env/
my_env/

.env
.env.local
.env.*.local
.env.development
.env.production
.env.test

# Ne pas ignorer le fichier exemple
!.env.example

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/
.idea/
